<head>
	<title>
		CSS
	</title>
	<style>
	body{
	 	width:60% ;
		margin:auto;
	}
	h1{
		color:indianred ;
	}
	p{
		text-align:justify ;
		font:italic normal bold 20px monospace ;	
	}
	</style>
</head>
