
	
		body{
	 	width:80% ;
		margin:auto;
		
	}
	h1{
		color:#ff8000;
		text-align:center;
	}
	p{
		text-align:justify ;
		font:normal normal lighter 20px hevletica ;	
	}
	img{
		display:block;
		float:right;
		width:80%;
			
	}
	
